Repository orval-labs/orval, pull requests merged in 2024-05, with the labels that each got.

#1355 chore: add `mock` tests
  tests/configs/mock.config.ts
  tests/package.json
Labels: mock

#1356 chore: mock generator builer type to strict
  packages/core/src/types.ts
  packages/mock/src/msw/index.ts
  packages/orval/src/client.ts
Labels: mock

#1358 docs: fix typo
  docs/src/pages/guides/msw.md
Labels: documentation

#1357 fix: allow making second axios, etc., param `required` instead of `optional`
  docs/src/pages/reference/configuration/output.md
  packages/axios/src/index.ts
  packages/core/src/types.ts
  packages/orval/src/utils/options.ts
  packages/query/src/index.ts
  packages/swr/src/index.ts
Labels: enhancement

#1362 fix(msw): make sure to early out when detecting loop in additionalproperties
  packages/mock/src/faker/getters/object.ts
  packages/mock/src/msw/mocks.ts
Labels: bug

#1367 Feature/zod preprocess option
  docs/src/pages/reference/configuration/output.md
  packages/core/src/types.ts
  packages/hono/src/index.ts
  packages/orval/src/utils/options.ts
  packages/zod/src/index.ts
  samples/hono/orval.config.ts
  samples/hono/src/mutators.ts
  samples/hono/src/petstore.context.ts
  samples/hono/src/petstore.schemas.ts
  samples/hono/src/petstore.ts
  samples/hono/src/petstore.validator.ts
  samples/hono/src/petstore.zod.ts
  samples/react-query/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.msw.ts
  samples/react-query/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  tests/configs/zod.config.ts
  tests/mutators/zod-preprocess.ts
Labels: enhancement

#1371 fix: correct import for anyof enums
  packages/core/src/getters/combine.ts
  tests/specifications/any-of.yaml
Labels: bug

#1374 fix: unstable reference (Issue 1359)
  packages/query/src/index.ts
  tests/package.json
  tests/yarn.lock
Labels: tanstack-query

#1375 feat: allow override for mock handlers to be a function
  packages/mock/src/msw/index.ts
Labels: mock

#1381 fix(mocks): handle OpenAPI 3.1 nullability
  packages/mock/src/faker/getters/object.ts
  packages/mock/src/faker/getters/scalar.ts
  tests/configs/mock.config.ts
Labels: mock

#1365 feat(msw): split polymorphic mocks into its own functions
  packages/mock/src/faker/getters/combine.ts
  packages/mock/src/faker/getters/object.ts
  packages/mock/src/faker/getters/scalar.ts
  packages/mock/src/faker/resolvers/value.ts
  packages/mock/src/msw/index.ts
  packages/mock/src/msw/mocks.ts
Labels: mock

#1388 docs(zod): fix sample code in `zod` guide
  docs/src/pages/guides/zod.md
Labels: zod

#1397 fix(override): add deep merge with operations and tag options
  packages/core/src/generators/verbs-options.ts
  packages/core/src/utils/merge-deep.ts
  samples/react-query/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
Labels: enhancement

#1386 fix: correct-enum-handling
  packages/core/src/getters/discriminators.ts
Labels: zod

#1398 feat(msw): take string pattern property into account when generating mocks
  packages/mock/src/faker/getters/scalar.ts
  tests/configs/swr.config.ts
  tests/specifications/pattern.yaml
Labels: mock

#1400 fix(msw): fix response http status code in handler function
  packages/mock/src/msw/index.ts
Labels: mock

#1405 chore: removed redundant files from react-query/basic output folders
  samples/react-query/basic/src/api/model/cat.ts
  samples/react-query/basic/src/api/model/catType.ts
  samples/react-query/basic/src/api/model/dachshund.ts
  samples/react-query/basic/src/api/model/dachshundBreed.ts
  samples/react-query/basic/src/api/model/dog.ts
  samples/react-query/basic/src/api/model/dogType.ts
  samples/react-query/basic/src/api/model/index.ts
  samples/react-query/basic/src/api/model/labradoodle.ts
  samples/react-query/basic/src/api/model/labradoodleBreed.ts
  samples/react-query/basic/src/api/model/listPetsRootArrayParams.ts
  samples/react-query/basic/src/api/model/pets.ts
Labels: enhancement

#1406 fix(zod): date format now respects useDates override
  packages/zod/src/index.ts
  packages/zod/src/zod.test.ts
  samples/hono/package.json
  tests/package.json
  tests/yarn.lock
Labels: zod

#1404 update to yarn 4.2.2
  .github/workflows/tests.yaml
  .gitignore
  .yarnrc.yml
  docs/yarn.lock
  package.json
  samples/angular-app/yarn.lock
  samples/basic/package.json
  samples/basic/yarn.lock
  samples/react-app-with-swr/yarn.lock
  samples/react-app/yarn.lock
  samples/react-query/basic/yarn.lock
  samples/react-query/custom-client/yarn.lock
  samples/react-query/form-data-mutator/yarn.lock
  samples/react-query/form-data/yarn.lock
  samples/react-query/form-url-encoded-mutator/yarn.lock
  samples/react-query/hook-mutator/yarn.lock
  samples/svelte-query/yarn.lock
  samples/vue-query/package.json
  samples/vue-query/yarn.lock
  samples/yarn.lock
  tests/package.json
  tests/yarn.lock
  yarn.lock
Labels: dependencies
