Repository orval-labs/orval, pull requests merged in 2024-08, with the labels that each got.

#1560 fix(query): check for peer dependencies
  packages/core/src/types.ts
  packages/query/src/index.ts
Labels: bug

#1562 Feat/add property include return type http status
  docs/src/pages/guides/fetch-client.md
  docs/src/pages/reference/configuration/output.md
  packages/core/src/types.ts
  packages/fetch/src/index.ts
  packages/orval/src/utils/options.ts
  packages/swr/src/client.ts
  packages/swr/src/index.ts
  samples/react-app-with-swr/fetch-client/orval.config.ts
  samples/react-app-with-swr/fetch-client/src/App.tsx
  samples/react-app-with-swr/fetch-client/src/api/endpoints/swaggerPetstore.ts
  tests/configs/fetch.config.ts
  tests/configs/react-query.config.ts
  tests/configs/svelte-query.config.ts
  tests/configs/swr.config.ts
  tests/configs/vue-query.config.ts
Labels: documentation, enhancement, fetch

#1567 fix: Always async resolver function
  packages/mock/src/msw/index.ts
  tests/configs/react-query.config.ts
Labels: msw

#1572 docs: add guide on how to use `ser` and `zod` together
  docs/src/manifests/manifest.json
  docs/src/pages/guides/client-with-zod.md
  samples/swr-with-zod/src/gen/model/cat.ts
  samples/swr-with-zod/src/gen/model/catType.ts
  samples/swr-with-zod/src/gen/model/createPetsBodyItem.ts
  samples/swr-with-zod/src/gen/model/dachshund.ts
  samples/swr-with-zod/src/gen/model/dachshundBreed.ts
  samples/swr-with-zod/src/gen/model/dog.ts
  samples/swr-with-zod/src/gen/model/dogType.ts
  samples/swr-with-zod/src/gen/model/error.ts
  samples/swr-with-zod/src/gen/model/index.ts
  samples/swr-with-zod/src/gen/model/labradoodle.ts
  samples/swr-with-zod/src/gen/model/labradoodleBreed.ts
  samples/swr-with-zod/src/gen/model/listPetsParams.ts
  samples/swr-with-zod/src/gen/model/pet.ts
  samples/swr-with-zod/src/gen/model/petCallingCode.ts
  samples/swr-with-zod/src/gen/model/petCountry.ts
  samples/swr-with-zod/src/gen/model/pets.ts
Labels: documentation, zod, tanstack-query, swr

#1571 fix(query): remove `Promise` from error type in query clients
  packages/query/src/client.ts
Labels: bug, tanstack-query

#1578 fix(client-query): return type can be undefined when config request options is set to false
  packages/query/src/index.ts
Labels: bug

#1584 fix: detect spec errors and prevent generation of invalid TypeScript code when input.validation is true
  packages/core/src/utils/logger.ts
  packages/core/src/utils/validator.ts
Labels: openapi_31

#1589 fix(zod): Docs missing generateEachHttpStatus option
  docs/src/pages/reference/configuration/output.md
Labels: documentation, zod

#1599 docs: add `hono` guide
  docs/src/manifests/manifest.json
  docs/src/pages/guides/hono.md
Labels: documentation, hono

#1593 Bugs/typed tuple on zod
  packages/zod/src/index.ts
  packages/zod/src/zod.test.ts
  tests/configs/zod.config.ts
  tests/specifications/typed-arrays-tuples-v3-1.yaml
Labels: zod
