Repository orval-labs/orval, pull requests merged in 2024-07, with the labels that each got.

#1498 feat(swr): support for using `fetch` for http clients with `swr`
  docs/src/pages/reference/configuration/output.md
  packages/core/src/types.ts
  packages/fetch/src/index.ts
  packages/orval/src/client.ts
  packages/orval/src/utils/options.ts
  packages/swr/package.json
  packages/swr/src/client.ts
  packages/swr/src/index.ts
  tests/configs/swr.config.ts
  tests/mutators/custom-fetch.ts
  yarn.lock
Labels: enhancement

#1488 fix(core): Referencing combined enums results in a duplicate schema name error
  packages/core/src/getters/combine.ts
  tests/configs/default.config.ts
  tests/specifications/combined-enum.yaml
Labels: bug

#1510 fix(mocks): use original name of ref schema in ref resolution
  packages/mock/src/faker/resolvers/value.ts
Labels: mock

#1513 chore(query): extracting functions related to http client in `query`
  packages/query/src/client.ts
  packages/query/src/index.ts
  packages/swr/src/client.ts
Labels: tanstack-query

#1514 feat(query): query clients can use `fetch` as an http client
  packages/query/package.json
  packages/query/src/client.ts
  packages/query/src/index.ts
  yarn.lock
Labels: enhancement, tanstack-query

#1518 fix: using `unref` to http function prop when `fetch` with `vue`
  packages/query/src/client.ts
  packages/query/src/index.ts
  samples/vue-query/custom-fetch/src/gen/pets/pets.ts
Labels: bug, tanstack-query

#1519 docs: add `next-app-with-fetch` reference to `README`
  README.md
Labels: documentation

#1520 chore: add tests for each query that uses fetch as an http client
  tests/configs/react-query.config.ts
  tests/configs/svelte-query.config.ts
  tests/configs/vue-query.config.ts
Labels: tanstack-query

#1521 docs: updated `httpClient` option guide to support queries
  docs/src/pages/reference/configuration/output.md
Labels: documentation

#1512 feat: generate literal types for booleans and numbers
  packages/core/src/getters/object.ts
  packages/core/src/getters/scalar.ts
  packages/core/src/types.ts
  tests/configs/default.config.ts
  tests/specifications/const.yaml
Labels: enhancement

#1480 feat: add ability to just generate specified zod validations
  docs/src/pages/reference/configuration/output.md
  packages/core/src/types.ts
  packages/orval/src/utils/options.ts
  packages/zod/src/index.ts
  packages/zod/src/zod.test.ts
Labels: zod

#1336 fix(form-data): handling array items
  packages/core/src/getters/res-req-types.ts
Labels: bug

#1527 docs: added using `fetch` as an http client
  docs/src/manifests/manifest.json
  docs/src/pages/guides/custom-client.md
  docs/src/pages/guides/fetch-client.md
  docs/src/pages/guides/fetch.md
  docs/src/pages/guides/set-base-url.md
  docs/src/pages/overview.md
Labels: documentation

#1529 feat(fetch): support form data and form url encoded request
  packages/fetch/src/index.ts
  samples/next-app-with-fetch/app/gen/pets/pets.ts
  samples/react-query/custom-fetch/src/gen/pets/pets.ts
  samples/svelte-query/custom-fetch/src/gen/pets/pets.ts
  samples/vue-query/custom-fetch/src/gen/pets/pets.ts
  tests/configs/fetch.config.ts
Labels: enhancement, fetch

#1546 fix(swr): fix to use Array as key for `useMutation`
  packages/swr/src/index.ts
  samples/react-app-with-swr/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
Labels: bug, swr
