Repository orval-labs/orval, pull requests merged in 2024-11, with the labels that each got.

#1686 mock strings fields as 20 char strings
  packages/mock/src/faker/getters/scalar.ts
Labels: mock

#1690 feat(core): add mode include/exclude to input filters option
  docs/src/pages/reference/configuration/input.md
  packages/core/src/generators/schema-definition.test.ts
  packages/core/src/generators/schema-definition.ts
  packages/core/src/generators/verbs-options.test.ts
  packages/core/src/generators/verbs-options.ts
  packages/core/src/types.ts
  packages/orval/src/import-open-api.ts
  samples/basic/petstore.yaml
  tests/configs/default.config.ts
Labels: enhancement

#1697 chore(msw): refactoring to compress `faker` corresponding to `format`
  packages/mock/src/faker/constants.ts
  packages/mock/src/faker/getters/scalar.ts
Labels: mock

#1712 Fix/vue query unref query params
  packages/query/src/client.ts
  tests/configs/vue-query.config.ts
  tests/configs/zod.config.ts
  tests/specifications/multi-query-params.yaml
Labels: tanstack-query
