Repository orval-labs/orval, pull requests merged in 2024-12, with the labels that each got.

#1722 feat: handle ndjson response type in fetch client
  packages/fetch/src/index.ts
  tests/configs/fetch.config.ts
  tests/configs/react-query.config.ts
  tests/configs/svelte-query.config.ts
  tests/configs/swr.config.ts
  tests/configs/vue-query.config.ts
Labels: waiting validation

#1765 Fix `useInfinteQuery` typo in documentation
  docs/src/pages/guides/react-query.md
  docs/src/pages/guides/svelte-query.md
  docs/src/pages/guides/vue-query.md
Labels: documentation

#1768 fix(fetch): make sure to not double promise for custom fetch mutator
  packages/fetch/src/index.ts
Labels: fetch

#1773 feat(fetch): add type to response data in `fetch` client
  packages/fetch/src/index.ts
  samples/basic/api/endpoints/petstoreFromFileSpecWithConfig.ts
  samples/basic/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/basic/api/model/pet.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/pets/pets.ts
  samples/hono/hono-with-zod/src/petstore.schemas.ts
  samples/next-app-with-fetch/app/gen/models/dachshund.ts
  samples/next-app-with-fetch/app/gen/models/labradoodle.ts
  samples/next-app-with-fetch/app/gen/models/pet.ts
  samples/next-app-with-fetch/app/gen/pets/pets.msw.ts
  samples/next-app-with-fetch/app/gen/pets/pets.ts
  samples/react-app-with-swr/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.msw.ts
  samples/react-app-with-swr/basic/src/api/model/pet.ts
  samples/react-app-with-swr/fetch-client/src/api/endpoints/swaggerPetstore.msw.ts
  samples/react-app-with-swr/fetch-client/src/api/endpoints/swaggerPetstore.ts
  samples/react-app-with-swr/fetch-client/src/api/models/pet.ts
  samples/react-query/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.msw.ts
  samples/react-query/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/react-query/basic/src/api/model/pet.ts
  samples/react-query/custom-client/src/api/endpoints/petstoreFromFileSpecWithTransformer.msw.ts
  samples/react-query/custom-client/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/react-query/custom-client/src/api/model/pet.ts
  samples/react-query/custom-fetch/src/gen/models/dachshund.ts
  samples/react-query/custom-fetch/src/gen/models/labradoodle.ts
  samples/react-query/custom-fetch/src/gen/models/pet.ts
  samples/react-query/custom-fetch/src/gen/pets/pets.msw.ts
  samples/react-query/custom-fetch/src/gen/pets/pets.ts
  samples/svelte-query/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/svelte-query/custom-fetch/src/gen/models/dachshund.ts
  samples/svelte-query/custom-fetch/src/gen/models/labradoodle.ts
  samples/svelte-query/custom-fetch/src/gen/models/pet.ts
  samples/svelte-query/custom-fetch/src/gen/pets/pets.msw.ts
  samples/svelte-query/custom-fetch/src/gen/pets/pets.ts
  samples/swr-with-zod/src/gen/endpoints/pets/pets.msw.ts
  samples/swr-with-zod/src/gen/endpoints/pets/pets.ts
  samples/swr-with-zod/src/gen/models/dachshund.ts
  samples/swr-with-zod/src/gen/models/labradoodle.ts
  samples/swr-with-zod/src/gen/models/pet.ts
  samples/vue-query/custom-fetch/src/gen/models/dachshund.ts
  samples/vue-query/custom-fetch/src/gen/models/labradoodle.ts
  samples/vue-query/custom-fetch/src/gen/models/pet.ts
  samples/vue-query/custom-fetch/src/gen/pets/pets.msw.ts
  samples/vue-query/custom-fetch/src/gen/pets/pets.ts
  samples/vue-query/vue-query-basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.msw.ts
  samples/vue-query/vue-query-basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/vue-query/vue-query-basic/src/api/model/pet.ts
Labels: fetch

#1777 chore(deps): update `swr` to `2.3.0` in sample apps
  samples/react-app-with-swr/fetch-client/package.json
  samples/react-app-with-swr/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/swr-with-zod/package.json
  samples/yarn.lock
Labels: dependencies

#1776 feat(fetch): include error types in data type of fetch response
  docs/src/pages/guides/fetch-client.md
  packages/fetch/src/index.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/pets/pets.ts
  samples/next-app-with-fetch/app/gen/pets/pets.ts
  samples/react-query/custom-fetch/src/gen/pets/pets.ts
  samples/svelte-query/custom-fetch/src/gen/pets/pets.ts
  samples/swr-with-zod/src/gen/endpoints/pets/pets.ts
  samples/vue-query/custom-fetch/src/gen/pets/pets.ts
Labels: enhancement, fetch
