Repository orval-labs/orval, pull requests merged in 2024-09, with the labels that each got.

#1604 feat(fetch): support `explode` property
  .gitignore
  packages/fetch/src/index.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/pets/pets.msw.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/pets/pets.ts
  samples/hono/hono-with-fetch-client/next-app/next-env.d.ts
  samples/next-app-with-fetch/app/gen/pets/pets.ts
  samples/react-app-with-swr/fetch-client/src/api/endpoints/swaggerPetstore.ts
  samples/react-query/custom-fetch/src/gen/pets/pets.ts
  samples/svelte-query/custom-fetch/src/gen/pets/pets.ts
  samples/swr-with-zod/src/gen/endpoints/pets/pets.ts
  samples/vue-query/custom-fetch/src/gen/pets/pets.ts
  tests/configs/fetch.config.ts
  tests/specifications/parameters.yaml
Labels: enhancement, fetch

#1623 fix(msw): broken mock when `allof` with not has `properties` object
  packages/mock/src/faker/getters/combine.ts
  tests/configs/default.config.ts
  tests/specifications/all-of.yaml
Labels: bug, msw

#1625 fix: remove readOnly fields from body schema parsing before Zod generation
  packages/zod/src/index.ts
Labels: zod

#1627 fix(fetch): `fetch` client can now override `headers` with `options`
  packages/fetch/src/index.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/pets/pets.ts
  samples/next-app-with-fetch/app/gen/pets/pets.ts
  samples/react-app-with-swr/fetch-client/src/api/endpoints/swaggerPetstore.ts
  samples/react-query/custom-fetch/src/gen/pets/pets.ts
  samples/svelte-query/custom-fetch/src/gen/pets/pets.ts
  samples/swr-with-zod/src/gen/endpoints/pets/pets.ts
  samples/vue-query/custom-fetch/src/gen/pets/pets.ts
Labels: bug, fetch

#1626 fix(msw): do not use spread objects if `nullable` object schema in `oneOf`
  packages/mock/src/faker/resolvers/value.ts
  tests/specifications/one-of.yaml
Labels: bug, msw

#1635 fix(msw): fix break `msw` when `anyof` included `allof`
  packages/mock/src/faker/getters/combine.ts
  tests/specifications/any-of.yaml
Labels: bug, msw

#1637 docs: improve debugging documentation (#1636)
  DEBUGGING.md
Labels: documentation

#1638 fix(msw): `ref` in `allOf` expands the object
  packages/mock/src/faker/getters/combine.ts
  tests/specifications/all-of.yaml
Labels: bug, msw

#1643 fix(msw): do not import delay if not needed
  packages/mock/src/msw/index.ts
  tests/configs/mock.config.ts
  tests/specifications/endpoints-named-delay.yaml
Labels: msw

#1645 fix(msw): when use `useDates`, convert faker values to `Date` instance
  packages/mock/src/faker/getters/scalar.ts
  samples/vue-query/vue-query-basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.msw.ts
  samples/vue-query/vue-query-basic/src/api/model/domainStatusEnum.ts
  samples/vue-query/vue-query-basic/src/api/model/index.ts
  samples/vue-query/vue-query-basic/src/api/model/pet.ts
  tests/configs/mock.config.ts
  tests/specifications/format.yaml
Labels: bug, msw
