Repository orval-labs/orval, pull requests merged in 2025-07, with the labels that each got.

#2179 fix: assert query version takes overriden as priority
  packages/core/src/types.ts
  packages/orval/src/client.ts
  packages/query/src/index.ts
Labels: enhancement, tanstack-query

#2211 fix oneOf faker generation (#2184)
  packages/mock/src/faker/getters/combine.ts
  tests/configs/default.config.ts
  tests/specifications/one-of-nested.yaml
Labels: mock

#2244 fix: Angular client props nullability
  packages/angular/src/index.ts
  packages/core/src/getters/props.test.ts
  packages/core/src/getters/props.ts
  packages/core/src/getters/scalar.ts
  packages/core/src/utils/deep-non-nullable.ts
  samples/angular-app/petstore.yaml
  samples/angular-app/src/api/endpoints/pets/pets.msw.ts
  samples/angular-app/src/api/endpoints/pets/pets.service.ts
  samples/angular-app/src/api/model/index.ts
  samples/angular-app/src/api/model/pet.ts
  samples/angular-app/src/api/model/searchPetsParams.ts
Labels: angular

#2250 fix: generate no value zod schema on zod v4. #2249
  packages/zod/src/index.ts
Labels: bug, zod
