Repository orval-labs/orval, pull requests merged in 2025-09, with the labels that each got.

#2350 Update orval to Swagger Parser v12.0.0
  packages/core/package.json
  packages/core/src/types.ts
  packages/orval/package.json
  packages/orval/src/import-open-api.ts
  yarn.lock
Labels: bug

#2354 fix(mock): prevent multipleOf undefined in MSW mock generation for integer types
  packages/mock/src/faker/getters/scalar.test.ts
  packages/mock/src/faker/getters/scalar.ts
Labels: mock, msw

#2408 feat: allow tree-shaking using wildcard import
  packages/zod/src/index.ts
Labels: zod

#2413 feat: add support for Svelte Query v6 compatibility
  packages/query/src/index.ts
Labels: tanstack-query
