Repository orval-labs/orval, pull requests merged in 2025-04, with the labels that each got.

#2006 fix(zod): Correct zod code generation from prefixItems
  packages/zod/src/index.ts
  tests/specifications/typed-arrays-tuples-v3-1.yaml
Labels: zod

#2009 Fix enum generation
  packages/mock/src/faker/getters/scalar.ts
  packages/zod/src/index.ts
  packages/zod/src/zod.test.ts
  tests/configs/zod.config.ts
  tests/specifications/enums.yaml
  yarn.lock
Labels: zod

#2012 Fix next js example for tag revalidation
  samples/next-app-with-fetch/custom-fetch.ts
Labels: bug

#2015 feat: support new client `mcp` server
  packages/core/src/types.ts
  packages/mcp/README.md
  packages/mcp/package.json
  packages/mcp/src/index.ts
  packages/mcp/tsconfig.json
  packages/orval/package.json
  packages/orval/src/client.ts
  yarn.lock
Labels: mcp

#2022 fix: fix to import only the necessary schema
  packages/mcp/src/index.ts
Labels: bug, mcp

#2023 chore: add a test for `mcp`
  tests/configs/mcp.config.ts
  tests/package.json
  tests/yarn.lock
Labels: mcp

#2033 fix(mock): allow to pass custom mock generator to options
  packages/orval/src/utils/options.ts
Labels: mock

#2038 fix(query): make sure to not generate query and mutation
  packages/query/src/index.ts
Labels: bug, tanstack-query

#2040 fix(core): no not sanitize operationName when overridden
  packages/core/src/generators/verbs-options.ts
Labels: bug

#2045 fix(mcp): include `baseUrl` and `servers` settings in the route path
  packages/mcp/src/index.ts
Labels: bug, mcp

#2046 chore(mcp): add `mcp` sample app
  README.md
  samples/mcp/petstore/.editorconfig
  samples/mcp/petstore/Dockerfile
  samples/mcp/petstore/README.md
  samples/mcp/petstore/orval.config.ts
  samples/mcp/petstore/package.json
  samples/mcp/petstore/petstore.yaml
  samples/mcp/petstore/src/handlers.ts
  samples/mcp/petstore/src/http-client.ts
  samples/mcp/petstore/src/http-schemas/apiResponse.ts
  samples/mcp/petstore/src/http-schemas/category.ts
  samples/mcp/petstore/src/http-schemas/findPetsByStatusParams.ts
  samples/mcp/petstore/src/http-schemas/findPetsByTagsParams.ts
  samples/mcp/petstore/src/http-schemas/getInventory200.ts
  samples/mcp/petstore/src/http-schemas/index.ts
  samples/mcp/petstore/src/http-schemas/loginUserParams.ts
  samples/mcp/petstore/src/http-schemas/order.ts
  samples/mcp/petstore/src/http-schemas/orderStatus.ts
  samples/mcp/petstore/src/http-schemas/pet.ts
  samples/mcp/petstore/src/http-schemas/petBody.ts
  samples/mcp/petstore/src/http-schemas/petStatus.ts
  samples/mcp/petstore/src/http-schemas/tag.ts
  samples/mcp/petstore/src/http-schemas/updatePetWithFormParams.ts
  samples/mcp/petstore/src/http-schemas/user.ts
  samples/mcp/petstore/src/http-schemas/userArrayBody.ts
  samples/mcp/petstore/src/server.ts
  samples/mcp/petstore/src/tool-schemas.zod.ts
  samples/mcp/petstore/tsconfig.json
  samples/mcp/petstore/yarn.lock
  samples/package.json
Labels: mcp

#2048 docs(mcp): add `mcp` guide
  docs/public/sitemap.xml
  docs/src/manifests/manifest.json
  docs/src/pages/guides/hono.md
  docs/src/pages/guides/mcp.md
  samples/mcp/petstore/README.md
Labels: documentation, mcp

#2035 fix(mock): correct generation of all-of objects
  packages/mock/src/faker/resolvers/value.ts
  samples/react-query/basic/src/api/model/cat.ts
  samples/react-query/basic/src/api/model/catType.ts
  samples/react-query/basic/src/api/model/createPetsParams.ts
  samples/react-query/basic/src/api/model/createPetsSort.ts
  samples/react-query/basic/src/api/model/dachshund.ts
  samples/react-query/basic/src/api/model/dachshundBreed.ts
  samples/react-query/basic/src/api/model/dog.ts
  samples/react-query/basic/src/api/model/dogType.ts
  samples/react-query/basic/src/api/model/getPetFileById404.ts
  samples/react-query/basic/src/api/model/labradoodle.ts
  samples/react-query/basic/src/api/model/labradoodleBreed.ts
  samples/react-query/basic/src/api/model/listPetsSort.ts
  samples/react-query/basic/src/api/model/pets.ts
  tests/configs/default.config.ts
  tests/specifications/all-of-required-in-parent.yaml
  tests/specifications/all-of-without-type.yaml
Labels: msw

#2061 feat(zod): implemented string format compatible with zod v3 and v4
  packages/zod/src/compatibleV4.test.ts
  packages/zod/src/compatibleV4.ts
  packages/zod/src/index.ts
Labels: enhancement, zod

#2067 fix(core): fix pnpm catalog detection
  packages/orval/src/utils/package-json.ts
Labels: enhancement

#2062 feat(zod): v4 compatible format `date` and `datetime`
  packages/zod/src/compatibleV4.test.ts
  packages/zod/src/compatibleV4.ts
  packages/zod/src/index.ts
Labels: enhancement, zod

#2063 feat(zod): support for string format `time`
  packages/zod/src/compatibleV4.test.ts
  packages/zod/src/compatibleV4.ts
  packages/zod/src/index.ts
Labels: enhancement, zod
