Repository orval-labs/orval, pull requests merged in 2025-02, with the labels that each got.

#1870 fix(fetch): Improved error handling when body does not exist in `fetch` client
  packages/fetch/src/index.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/pets/pets.ts
  samples/hono/hono-with-zod/src/petstore.validator.ts
  samples/next-app-with-fetch/app/gen/pets/pets.msw.ts
  samples/react-app-with-swr/fetch-client/src/api/endpoints/swaggerPetstore.ts
  samples/react-query/custom-fetch/src/gen/pets/pets.msw.ts
  samples/svelte-query/custom-fetch/src/gen/pets/pets.msw.ts
  samples/swr-with-zod/src/gen/endpoints/pets/pets.msw.ts
  samples/swr-with-zod/src/gen/endpoints/pets/pets.ts
  samples/vue-query/custom-fetch/src/gen/pets/pets.msw.ts
Labels: bug, enhancement, fetch

#1871 fix(query): regression that breaks `TData` type check when using custom mutation
  packages/query/src/index.ts
  samples/react-query/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/react-query/custom-client/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/react-query/custom-fetch/src/gen/pets/pets.ts
  samples/react-query/form-data-mutator/endpoints.ts
  samples/react-query/form-data/endpoints.ts
  samples/react-query/form-url-encoded-mutator/endpoints.ts
  samples/react-query/form-url-encoded/endpoints.ts
  samples/react-query/hook-mutator/endpoints.ts
  samples/svelte-query/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/svelte-query/custom-fetch/src/gen/pets/pets.ts
  samples/vue-query/custom-fetch/src/gen/pets/pets.ts
  samples/vue-query/vue-query-basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
Labels: bug, tanstack-query

#1889 Warning: A props object containing a "key" prop is being spread into JSX
  docs/src/components/Highlight.js
Labels: documentation

#1896 fix(hono): remove unnecessary `zod` file and import
  packages/hono/src/index.ts
Labels: bug, hono

#1850 feat: generate const object for const schema definition
  packages/core/src/generators/imports.ts
  packages/core/src/generators/interface.test.ts
  packages/core/src/generators/interface.ts
  packages/core/src/resolvers/object.ts
  packages/core/src/types.ts
  packages/core/src/writers/single-mode.ts
  tests/specifications/const.yaml
Labels: enhancement

#1884 feat(core): ✏️ add naming convention option to output
  docs/src/pages/reference/configuration/output.md
  packages/core/src/generators/imports.ts
  packages/core/src/types.ts
  packages/core/src/utils/case.ts
  packages/core/src/writers/schemas.ts
  packages/orval/src/utils/options.ts
  packages/orval/src/write-specs.ts
  tests/configs/default.config.ts
Labels: enhancement

#1918 fix(fetch): param stringification for Safari < 17.0
  packages/fetch/src/index.ts
Labels: bug

#1924 feat(zod): add default support
  packages/zod/src/index.ts
  packages/zod/src/zod.test.ts
Labels: zod

#1886 chore: Bump Typedoc version to 0.27.6
  packages/core/package.json
  packages/orval/package.json
  packages/orval/src/write-specs.ts
  yarn.lock
Labels: dependencies, javascript

#1929 fix(hono): `zValidate` path when using `tags` mode uses `output.target` based path
  packages/hono/src/index.ts
Labels: bug, hono

#1930 chore(hono): add `hono` sample app for using `compositRoutes`
  samples/hono/composite-routes-with-tags-split/.gitignore
  samples/hono/composite-routes-with-tags-split/README.md
  samples/hono/composite-routes-with-tags-split/orval.config.ts
  samples/hono/composite-routes-with-tags-split/package.json
  samples/hono/composite-routes-with-tags-split/petstore.yaml
  samples/hono/composite-routes-with-tags-split/src/app.ts
  samples/hono/composite-routes-with-tags-split/src/endpoints/pets/pets.context.ts
  samples/hono/composite-routes-with-tags-split/src/endpoints/pets/pets.handlers.ts
  samples/hono/composite-routes-with-tags-split/src/endpoints/pets/pets.zod.ts
  samples/hono/composite-routes-with-tags-split/src/endpoints/validator.ts
  samples/hono/composite-routes-with-tags-split/src/routes.ts
  samples/hono/composite-routes-with-tags-split/src/schemas/createPetsBodyItem.ts
  samples/hono/composite-routes-with-tags-split/src/schemas/error.ts
  samples/hono/composite-routes-with-tags-split/src/schemas/index.ts
  samples/hono/composite-routes-with-tags-split/src/schemas/listPetsParams.ts
  samples/hono/composite-routes-with-tags-split/src/schemas/pet.ts
  samples/hono/composite-routes-with-tags-split/src/schemas/pets.ts
  samples/hono/composite-routes-with-tags-split/tsconfig.json
  samples/hono/composite-routes-with-tags-split/wrangler.toml
  samples/yarn.lock
Labels: hono

#1934 chore(hono): add tests for `hono` client
  tests/configs/hono.config.ts
Labels: hono
