Repository orval-labs/orval, pull requests merged in 2025-01, with the labels that each got.

#1770 fix(core): take output.indexFiles setting into account
  packages/core/src/writers/generate-imports-for-builder.ts
  packages/core/src/writers/single-mode.ts
  packages/core/src/writers/split-mode.ts
  packages/core/src/writers/split-tags-mode.ts
  packages/core/src/writers/tags-mode.ts
  packages/fetch/src/index.ts
  tests/configs/default.config.ts
Labels: enhancement

#1789 fix(zod): pass resolved specKey in context
  packages/zod/src/index.ts
  tests/configs/fetch.config.ts
  tests/configs/zod.config.ts
  tests/specifications/import-from-subdirectory/petstore.yaml
  tests/specifications/import-from-subdirectory/subdirectory/another-file.yaml
  tests/specifications/import-from-subdirectory/subdirectory/petstore.yaml
  yarn.lock
Labels: zod

#1799 fix(msw): make sure to not double import value and type
  packages/core/src/generators/imports.ts
  yarn.lock
Labels: bug, msw

#1808 Fix chaotic shuffle of generated types
  packages/core/src/generators/models-inline.ts
Labels: enhancement

#1803 feat(msw): create an index file exporting msw for split tags mode
  docs/src/pages/reference/configuration/output.md
  packages/core/src/types.ts
  packages/core/src/writers/split-tags-mode.ts
  tests/configs/default.config.ts
Labels: enhancement, msw

#1797 feat: allow extension in mutator import
  docs/src/pages/reference/configuration/output.md
  packages/core/src/generators/mutator.ts
  packages/core/src/types.ts
  samples/react-query/hook-mutator/orval.config.ts
  tests/configs/react-query.config.ts
Labels: enhancement

#1811 feat(hono): add `orverride.hono.validatorOutputPath` option
  packages/core/src/types.ts
  packages/hono/src/index.ts
  packages/orval/src/utils/options.ts
Labels: enhancement, hono

#1812 fix(core): only generate one operation if it has multiple tags
  packages/core/src/writers/target-tags.ts
  tests/configs/default.config.ts
  tests/specifications/multiple-tags.yaml
Labels: bug

#1813 fix(hono): custom validator always does return value
  packages/hono/src/index.ts
  samples/basic/api/endpoints/petstoreFromFileSpecWithConfig.ts
  samples/hono/hono-with-fetch-client/hono-app/src/petstore.schemas.ts
  samples/hono/hono-with-fetch-client/hono-app/src/petstore.validator.ts
  samples/hono/hono-with-zod/src/petstore.schemas.ts
Labels: bug, hono

#1819 fix(core): export type with required properties in all-of object
  packages/core/src/getters/combine.ts
  tests/specifications/all-of.yaml
Labels: bug

#1814 fix(hono): avoid unnecessary `zValidator` imports
  packages/hono/src/index.ts
Labels: bug, hono

#1829 fix(mock): ensure getMockScalar respects custom overrides for int64 format
  packages/mock/package.json
  packages/mock/src/faker/getters/route.test.ts
  packages/mock/src/faker/getters/scalar.test.ts
  packages/mock/src/faker/getters/scalar.ts
Labels: bug, mock

#1833 fix(hono): remove unnecessary handler import when `tags` mode
  packages/hono/src/index.ts
Labels: bug, hono

#1827 fix(fetch): make sure responseDataType is not empty
  packages/fetch/src/index.ts
Labels: fetch

#1843 feat(hono): added the ability to generate composite routes with the `hono` client
  packages/core/src/types.ts
  packages/hono/src/index.ts
  packages/orval/src/utils/options.ts
Labels: enhancement, hono

#1830 fix(core): handle parameters in custom instance returning useCallback
  packages/core/src/generators/mutator.ts
Labels: tanstack-query
