Repository orval-labs/orval, pull requests merged in 2025-05, with the labels that each got.

#2068 feat(zod): In v4, `object().strict()` is deprecated, use `strictObject()` instead.
  packages/zod/src/compatibleV4.test.ts
  packages/zod/src/compatibleV4.ts
  packages/zod/src/index.ts
  packages/zod/src/zod.test.ts
Labels: enhancement, zod

#2072 feat(core): add x-enum-descriptions support
  packages/core/src/generators/schema-definition.ts
  packages/core/src/getters/combine.ts
  packages/core/src/getters/enum.ts
  packages/core/src/getters/query-params.ts
  packages/core/src/resolvers/object.ts
  tests/specifications/enums.yaml
Labels: enhancement

#2095 fix(docs): update swagger-parser link in input configuration document…
  docs/src/pages/reference/configuration/input.md
Labels: documentation

#2100 fix(docs): update GeneratorVerbOptions link in output configuration d…
  docs/src/pages/reference/configuration/output.md
Labels: documentation

#2104 chore(test): for no content responses with a default response
  packages/mock/src/msw/index.ts
  tests/configs/react-query.config.ts
  tests/specifications/no-content-with-default.yaml
Labels: mock, msw

#2105 add pnpm instructions to docs
  docs/src/pages/installation.md
Labels: documentation

#2118 feat(zod): revert #1907 to not use discriminatedUnion
  packages/zod/src/index.ts
  packages/zod/src/zod.test.ts
Labels: zod

#2131 fix: use minItems and maxItems when mocking arrays
  packages/mock/src/faker/getters/scalar.ts
  packages/mock/src/msw/mocks.ts
  packages/orval/src/utils/options.ts
  samples/basic/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/react-query/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.msw.ts
  samples/react-query/custom-client/src/api/endpoints/petstoreFromFileSpecWithTransformer.msw.ts
Labels: mock
