Repository orval-labs/orval, pull requests merged in 2025-06, with the labels that each got.

#2134 fix: use multipleOf when mocking numbers
  package.json
  packages/core/package.json
  packages/mock/src/faker/getters/scalar.ts
  samples/angular-app/package.json
  samples/basic/api/endpoints/petstoreFromFileSpecWithConfig.ts
  samples/basic/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/basic/api/model/pet.ts
  samples/basic/package.json
  samples/hono/hono-with-zod/src/petstore.zod.ts
  samples/next-app-with-fetch/app/gen/pets/pets.msw.ts
  samples/react-app-with-swr/basic/package.json
  samples/react-app-with-swr/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/react-app/package.json
  samples/react-app/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/react-query/basic/package.json
  samples/react-query/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.msw.ts
  samples/react-query/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/react-query/basic/src/api/model/pet.ts
  samples/react-query/custom-client/package.json
  samples/react-query/custom-client/src/api/endpoints/petstoreFromFileSpecWithTransformer.msw.ts
  samples/react-query/custom-client/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/react-query/custom-client/src/api/model/pet.ts
  samples/react-query/custom-fetch/src/gen/pets/pets.msw.ts
  samples/react-query/form-data-mutator/models/pet.ts
  samples/react-query/form-data-mutator/package.json
  samples/react-query/form-data/models/pet.ts
  samples/react-query/form-data/package.json
  samples/react-query/form-url-encoded-mutator/models/pet.ts
  samples/react-query/form-url-encoded-mutator/package.json
  samples/react-query/form-url-encoded/models/pet.ts
  samples/react-query/form-url-encoded/package.json
  samples/react-query/hook-mutator/models/pet.ts
  samples/react-query/hook-mutator/package.json
  samples/svelte-query/basic/package.json
  samples/svelte-query/custom-fetch/src/gen/pets/pets.msw.ts
  samples/swr-with-zod/src/gen/endpoints/pets/pets.msw.ts
  samples/swr-with-zod/src/gen/endpoints/pets/pets.zod.ts
  samples/vue-query/custom-fetch/src/gen/pets/pets.msw.ts
  samples/vue-query/vue-query-basic/package.json
  samples/yarn.lock
  tests/package.json
  tests/yarn.lock
  yarn.lock
Labels: mock

#2084 feat(core): override JSDoc config to customize default documentation
  docs/src/pages/reference/configuration/output.md
  packages/core/src/getters/object.ts
  packages/core/src/getters/query-params.ts
  packages/core/src/types.ts
  packages/core/src/utils/doc.ts
  packages/orval/src/utils/options.ts
  tests/configs/default.config.ts
Labels: enhancement

#2141 fix: use faker.number.float when mocking numbers and int when mocking integers
  docs/src/pages/reference/configuration/output.md
  packages/core/src/types.ts
  packages/mock/src/faker/constants.ts
  packages/mock/src/faker/getters/scalar.ts
  packages/mock/src/msw/mocks.ts
  packages/orval/src/utils/options.ts
  samples/next-app-with-fetch/app/gen/pets/pets.msw.ts
  samples/react-query/custom-fetch/src/gen/pets/pets.msw.ts
  samples/svelte-query/custom-fetch/src/gen/pets/pets.msw.ts
  samples/swr-with-zod/src/gen/endpoints/pets/pets.msw.ts
  samples/vue-query/custom-fetch/src/gen/pets/pets.msw.ts
  tests/configs/mock.config.ts
Labels: mock

#2150 feat: allow defining min and max ranges for mocked numbers and strings
  docs/src/pages/reference/configuration/output.md
  packages/core/src/types.ts
  packages/mock/src/faker/getters/scalar.test.ts
  packages/mock/src/faker/getters/scalar.ts
  packages/mock/src/msw/mocks.ts
  packages/orval/src/utils/options.ts
  samples/angular-app/src/api/endpoints/pets/pets.msw.ts
  samples/basic/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/pets/pets.msw.ts
  samples/next-app-with-fetch/app/gen/pets/pets.msw.ts
  samples/react-app-with-swr/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.msw.ts
  samples/react-app-with-swr/fetch-client/src/api/endpoints/swaggerPetstore.msw.ts
  samples/react-query/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.msw.ts
  samples/react-query/custom-client/src/api/endpoints/petstoreFromFileSpecWithTransformer.msw.ts
  samples/react-query/custom-fetch/src/gen/pets/pets.msw.ts
  samples/svelte-query/custom-fetch/src/gen/pets/pets.msw.ts
  samples/swr-with-zod/src/gen/endpoints/pets/pets.msw.ts
  samples/vue-query/custom-fetch/src/gen/pets/pets.msw.ts
  samples/vue-query/vue-query-basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.msw.ts
  tests/configs/mock.config.ts
Labels: mock

#2173 fix(query): make queryKey function parameters optional
  packages/fetch/src/index.ts
  packages/query/src/index.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/pets/pets.ts
  samples/next-app-with-fetch/app/gen/pets/pets.ts
  samples/react-app-with-swr/fetch-client/src/api/endpoints/swaggerPetstore.ts
  samples/react-query/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/react-query/custom-client/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/react-query/custom-fetch/src/gen/pets/pets.ts
  samples/react-query/form-data-mutator/endpoints.ts
  samples/react-query/form-data/endpoints.ts
  samples/react-query/form-url-encoded-mutator/endpoints.ts
  samples/react-query/form-url-encoded/endpoints.ts
  samples/react-query/hook-mutator/endpoints.ts
  samples/svelte-query/basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
  samples/svelte-query/custom-fetch/src/gen/pets/pets.ts
  samples/swr-with-zod/src/gen/endpoints/pets/pets.ts
  samples/vue-query/custom-fetch/src/gen/pets/pets.ts
  samples/vue-query/vue-query-basic/src/api/endpoints/petstoreFromFileSpecWithTransformer.ts
Labels: enhancement, tanstack-query
