Repository orval-labs/orval, pull requests merged in 2025-03, with the labels that each got.

#1954 docs(hono): add docs for `hono` orverride setting and update `hono` guide
  docs/src/pages/guides/hono.md
  docs/src/pages/reference/configuration/output.md
Labels: documentation, hono

#1958 fix: display correct amount of duplicate schemas
  packages/core/src/writers/schemas.ts
Labels: bug

#1962 feat: Add descriptions for zod
  packages/zod/src/index.ts
  packages/zod/src/zod.test.ts
Labels: zod

#1976 fix: upgrade axios to ^1.8.2 and fix tsx errors
  docs/package.json
  samples/basic/package.json
  samples/react-app-with-swr/basic/package.json
  samples/react-app/package.json
  samples/react-app/src/auth.context.tsx
  samples/react-query/basic/package.json
  samples/react-query/basic/src/auth.context.tsx
  samples/react-query/custom-client/package.json
  samples/react-query/form-data-mutator/package.json
  samples/react-query/form-data/package.json
  samples/react-query/form-url-encoded-mutator/package.json
  samples/react-query/form-url-encoded/package.json
  samples/react-query/hook-mutator/package.json
  samples/svelte-query/basic/package.json
  samples/vue-query/vue-query-basic/package.json
  samples/yarn.lock
  tests/package.json
  yarn.lock
Labels: dependencies, javascript

#1984 feat(zod): add `output.orverride.zod.datetimeOptions` option
  docs/src/pages/reference/configuration/output.md
  packages/core/src/types.ts
  packages/mock/src/faker/getters/scalar.ts
  packages/orval/src/utils/options.ts
  packages/zod/src/index.ts
  tests/configs/zod.config.ts
Labels: enhancement, zod

#1985 fix(zod): always prioritize `required` definitions to determine `optional()`
  packages/zod/src/index.ts
Labels: bug, zod

#1994 docs(custom-client): update example to match the generated api
  docs/src/pages/guides/custom-client.md
Labels: documentation
