Repository orval-labs/orval, pull requests merged in 2025-08, with the labels that each got.

#2271 fix(fetch): `explode` params only target `Array` schema
  packages/fetch/src/index.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/pets/pets.ts
  samples/next-app-with-fetch/app/gen/pets/pets.ts
  samples/react-app-with-swr/fetch-client/src/api/endpoints/swaggerPetstore.ts
  samples/react-query/custom-fetch/src/gen/pets/pets.ts
  samples/svelte-query/custom-fetch/src/gen/pets/pets.ts
  samples/swr-with-zod/src/gen/endpoints/pets/pets.ts
  samples/vue-query/custom-fetch/src/gen/pets/pets.ts
Labels: bug, fetch

#2272 feat(fetch): changed default value of `override.fetch.explode` from `false` to `true` to clarify its meaning
  docs/src/pages/reference/configuration/output.md
  packages/fetch/src/index.ts
  packages/orval/src/utils/options.ts
Labels: enhancement, fetch

#2270 feat: remove tslint
  docs/src/pages/reference/cli.md
  docs/src/pages/reference/configuration/output.md
  packages/core/src/generators/interface.ts
  packages/core/src/getters/params.ts
  packages/core/src/types.ts
  packages/core/src/utils/logger.ts
  packages/orval/src/bin/orval.ts
  packages/orval/src/utils/options.ts
  tests/configs/default.config.ts
Labels: enhancement

#2269 docs: needs globally installed prettier
  docs/src/pages/reference/cli.md
  docs/src/pages/reference/configuration/output.md
  packages/orval/src/write-specs.ts
  samples/next-app-with-fetch/package.json
  samples/react-app-with-swr/basic/package.json
  samples/react-app/package.json
  samples/react-query/basic/package.json
  samples/react-query/custom-client/package.json
  samples/react-query/custom-fetch/package.json
  samples/react-query/form-data-mutator/package.json
  samples/react-query/form-data/package.json
  samples/react-query/form-url-encoded-mutator/package.json
  samples/react-query/form-url-encoded/package.json
  samples/react-query/hook-mutator/package.json
  samples/svelte-query/basic/package.json
  samples/svelte-query/custom-fetch/package.json
  samples/vue-query/custom-fetch/package.json
  samples/vue-query/vue-query-basic/package.json
  samples/yarn.lock
Labels: documentation

#2275 feat(angular): support paramsSerializer
  .prettierignore
  docs/src/pages/reference/configuration/output.md
  packages/core/src/generators/options.ts
  samples/angular-app/orval.config.ts
  samples/angular-app/src/api/endpoints/pets/pets.service.ts
  samples/angular-app/src/api/mutator/custom-params-serializer.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/models/createPetsBodyItem.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/models/error.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/models/index.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/models/listPetsParams.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/models/pet.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/models/pets.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/pets/pets.msw.ts
  samples/hono/hono-with-fetch-client/next-app/app/gen/pets/pets.ts
  samples/swr-with-zod/src/gen/endpoints/pets/pets.zod.ts
  yarn.lock
Labels: angular

#2276 fix(core): clean remove empty directories
  package.json
  packages/core/package.json
  packages/core/src/getters/combine.ts
  packages/core/src/utils/file.ts
  packages/mock/src/faker/getters/combine.ts
  packages/orval/src/generate.ts
  packages/orval/src/utils/options.ts
  packages/orval/src/write-specs.ts
  samples/react-app-with-swr/basic/src/App.tsx
  samples/react-app-with-swr/basic/src/index.css
  samples/react-app/docs-html-plugin/assets/main.js
  samples/react-app/docs-html-plugin/assets/style.css
  samples/react-app/docs-html/assets/main.js
  samples/react-app/docs-html/assets/style.css
  samples/react-app/src/index.css
  samples/react-query/basic/src/App.tsx
  samples/react-query/basic/src/index.css
  samples/react-query/custom-client/src/App.tsx
  samples/react-query/custom-client/src/index.css
  samples/svelte-query/basic/src/app.css
  samples/vue-query/vue-query-basic/src/App.vue
  yarn.lock
Labels: bug

#2317 fix: case-senstive for generated imports
  packages/core/src/writers/generate-imports-for-builder.ts
Labels: bug

#2292 feat(fetch): added support for urlEncodeParameters
  docs/src/pages/reference/configuration/output.md
  packages/fetch/src/index.ts
  tests/configs/fetch.config.ts
Labels: fetch
